<?xml version="1.0"?>

<model>
  <name>X4_GPS_LIDAR_RGBD</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Luis Pinto</name>
    <email>luis.pinto@mov.ai</email>
  </author>


  <description>
    X4 UAV with sensor configuration #1: HD camera, IMU, pressure sensor, magnetometer + GPS LIDAR and RGBD
  </description>
</model>
